<div class="payment-success-container">
    <div class="success-icon">
        <img src="https://static.vecteezy.com/system/resources/previews/019/520/923/large_2x/payment-success-paid-bill-concept-illustration-flat-design-eps10-modern-graphic-element-for-landing-page-empty-state-ui-infographic-icon-vector.jpg"
            alt="Success" />
    </div>
    <h1>Payment Successful!</h1>
    <p>Thank you for your payment. Your transaction was completed successfully.</p>
    <button class="btn btn-primary" (click)="onbackPage()">Go back</button>

</div>